/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'laravel';
@reset      : 'laravel';

/* Elements */
@button     : 'laravel';
@container  : 'laravel';
@divider    : 'laravel';
@flag       : 'laravel';
@header     : 'laravel';
@icon       : 'laravel';
@image      : 'laravel';
@input      : 'laravel';
@label      : 'laravel';
@list       : 'laravel';
@loader     : 'laravel';
@rail       : 'laravel';
@reveal     : 'laravel';
@segment    : 'laravel';
@step       : 'laravel';

/* Collections */
@breadcrumb : 'laravel';
@form       : 'laravel';
@grid       : 'laravel';
@menu       : 'laravel';
@message    : 'laravel';
@table      : 'laravel';

/* Modules */
@accordion  : 'laravel';
@checkbox   : 'laravel';
@dimmer     : 'laravel';
@dropdown   : 'laravel';
@embed      : 'laravel';
@modal      : 'laravel';
@nag        : 'laravel';
@popup      : 'laravel';
@progress   : 'laravel';
@rating     : 'laravel';
@search     : 'laravel';
@shape      : 'laravel';
@sidebar    : 'laravel';
@sticky     : 'laravel';
@tab        : 'laravel';
@transition : 'laravel';

/* Views */
@ad         : 'laravel';
@card       : 'laravel';
@comment    : 'laravel';
@feed       : 'laravel';
@item       : 'laravel';
@statistic  : 'laravel';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';

/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
